
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Hoş geldiniz</h1>
<p class="text-center mt-5">Sisteme üye olup, .net core mvc web uygulaması ile sisteme müşteri ekleyebilir, güncelleyebilir, silebilirsiniz.<br /><br />Giriş yapmadan işlem yapamazsınız!</p>

