@model CustomerListModel
<html>
<body>
    <h3 class="mb-5">Müşteri İşlemleri</h3>
    <a class="btn btn btn-success pull-right mb-3" asp-controller="Customer" asp-action="AddCustomer" type="submit">Müşteri Ekle <i class="fa fa-user-plus"></i></a>

    <table id="example" class="ui celled table" style="width:100%">
        <thead>
            <tr>
                <th>Ad</th>
                <th>Soyad</th>
                <th>Adres</th>
                <th>Telefon</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.customers)
            {
                <tr>
                    <td> @item.Name</td>
                    <td> @item.Surname</td>
                    <td> @item.Address</td>
                    <td> @item.Phone</td>
                    <th>
                        <a class="btn btn-success pull-right"  asp-controller="Customer" asp-action="UpdateCustomer" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-danger mr-1 pull-right" asp-controller="Customer" asp-action="DeleteCustomer" asp-route-id="@item.Id"><i class="fa fa-remove"></i></a>
                    </th>
                </tr>
            }
        </tbody>

    </table>


</body>
</html>

@section Scripts{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css" />
    <script src="//cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#example').DataTable({

                searching: false,
                "bLengthChange": false,
                "targets": 'no-sort',
                "bSort": false,
                "order": [],

                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
                }

            });
        });
    </script>

    
}