

<footer class="container footer fixed-bottom navbar-light bg-light py-4">
    <div class="container text-center">
        <p class="text-muted">Basic CRM</p>
        <a href="https://www.linkedin.com/in/mustafa-mert-karpuz-32514a1a7/" class="text-muted"><i class="fa fa-linkedin btn-info"></i> Mustafa Mert KARPUZ</a><br />
        <p class="text-muted mt-1"><i class="fa fa-envelope"></i> mert.karpuz@outlook.com</p>
    </div>
</footer>